#top{
    height: 40px;
    display: flex;
    background-color: #eeeeee;
    margin-top: -10px;
    font-size: 13px;
}
#top>div{
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
}
#top>div>p{
    margin-left: 10px;
}
.navbar{
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
#heart{
    margin-top: 18px;
    font-size: 20px;
}
#logo{
    width: 147px;
    height: 50px;
}
input{
    width: 250px;
    height: 30px;
    margin-top: 10px;
}
#account{
    margin-top: 16px;
}
#bag{
    margin-top: 12px;
    font-size: 22px;
}
a {
text-decoration: none;
color: black;
}
a:hover {
color: rgb(229, 47, 27);
}
#navbar a {
cursor: pointer;
}
#centerImg{
    width: 100%;
    height: 70px;
    margin-bottom:0px;
}
/* h1{
    text-align: center;
    color: grey;
    font-weight: 50;
} */
#TOP_BRANDS{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    /* grid-template-rows: auto; */
    /* gap: 0px; */
}
#TOP_BRANDS>div>a>img{
    width: 750px;
}
center{
    margin-left: 15px;
}
#bewakoof{
    color: #fdd835;
    padding-top: 80px;
    margin-left: 110px;
    margin-bottom: -10px;
}
.customer_service{
    color: #fdd835;
}
button{
    background-color: #fdd835;
    padding: 10px;
    font-size: 17px;
}
#footer_main{
    background-color: #181818;
}
#footer{
    width: 90%;
    margin: auto;
}
#footer>div{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
#footer>div>div{
    width: 18%;
}
#footer>div>div>h2{
    color: #2f7f91;
    font-weight: 600;
    line-height: 20px;
    font-family: Inter, Roboto, Arial, sans-serif;
}
#footer>div>div>h3{
    margin-bottom: 38px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    font-family: Inter, Roboto, Arial, sans-serif;
}
#footer>div>div>p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-family: Inter, Roboto, Arial, sans-serif;
}
#social{
    color: white;
}
#social>i{
    margin-right: 20px;
}
#para{
    width: 80%;
    color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 17px; */
    padding-bottom: 200px;
}
